**/*.json
**/*.txt
**/*.pyc
**/*.egg-info
**/*.csv
**/core.*
**/__pycache__
**/.ipynb_checkpoints
**/dist



**/*.csv
**/*.parquet
**/*.zip
**/*.pyc
**/*.ipynb_checkpoints
checkpoint/
*.egg-info/
*data
